html, body, .view-animate-container, .view-animate { height: 100%; }
  
.navbar {
  height: 44px;
  margin: 0;
  min-height:0;
  z-index: 500;
  width: 100%;
}

/*  .navbar-default a {
    text-align: center;
    display:block;
    color: #fff;
    padding-top: 10px;
  }*/

.app {
  padding: 44px 0 0 0;
  margin: 0px 0 0 0;
  height: 91%;
}

#footer
{
  height: 44px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.input-xs {
  height: 23px;
  padding: 6px 6px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

#menu-home { height: 100%;}
#menu-home div { height: 50%; }

#menu-home div a {
  margin: auto;
  padding: 40% 0 0 0;
  color: #333;
  text-decoration: none;
  width: 100px;
  height: 100px;
  display: block; 
}
#menu-home div a img {
  width: 100px;
  height: 100px;
}
#menu-home div:first-child { background: #fff; }
#menu-home div:nth-child(2) { background: #89aa3b; }
#menu-home div:nth-child(3) { background: #f5a503; }
#menu-home div:nth-child(4) { background: #3aa1bf; }









