<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="eventApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
        <title>Go Event</title>
				<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
				<link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body> 

		<div class="navbar navbar-default navbar-fixed-top " role="navigation">
	    
			<div class="col-xs-6">
        <div class="input-group">
            <input type="search" class="form-control input-sm" placeholder="Buscar" id="query" name="query" ng-model="search.name">
	            <div class="input-group-btn">
            <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>

	    </div><!-- /input-group -->
		</div>

			
			<div class="app">
				<div class="view-animate-container">
					<div ng-view class="view-animate"></div>
				</div>
			</div>
			
			<div id="footer" class="navbar-default">
			      <div class="container">
			        <p class="text-muted">Place sticky footer content here.</p>
			      </div>
			    </div>
			
				<script src="js/vendors/jquery-1.11.0.min.js"></script>
				<script src="js/vendors/angular-1.2.13/angular.js"></script>
				<script src="js/vendors/angular-1.2.13/angular-resource.js"></script>
				<script src="js/vendors/angular-1.2.13/angular-route.js"></script>
				<script src="js/vendors/angular-1.2.13/angular-animate.js"></script>
				<script src="js/main.js"></script>
				<script src="js/controllers/main.js"></script>
				<script src="js/controllers/subcategories.js"></script>
				<script src="js/controllers/subcategories_ads.js"></script>
    </body>
</html>
