
<div class="row" id="menu-home">
	<div class="col-xs-6"><a href=""><img src="img/logo.png" alt="BH Eventos"></a></div>
	<div class="col-xs-6"><a href="#subcategories"><img src="img/ico-catalog.png" alt="fornecedores">Fornecedores</a></div>
	<div class="col-xs-6 text-center"><a href=""><img src="img/ico-budget.png" alt="orçamentos">Orçamentos</a></div>
	<div class="col-xs-6 text-center"><a href=""><img src="img/ico-catalog.png" alt="fornecedores">Favoritos</a></div>
</div>

<!--
<div id="menu-home">
	<div ><a href=""><img src="img/logo.png" alt="BH Eventos"></a>
	<a href="#ads"><img src="img/ico-catalog.png" alt="fornecedores">Fornecedores</a></div>
	<div><a href=""><img src="img/ico-budget.png" alt="orçamentos">Orçamentos</a>
		<a href=""><img src="img/ico-catalog.png" alt="fornecedores">Favoritos</a></div>
</div>-->