
<div class="list-group">
  <a href="#subcategories/ads/{{item.id}}" class="list-group-item" ng-repeat="item in subcategories | filter:search">
    {{item.name}} <span class="badge">{{item.ads_count}}</span>
  </a>
</div>